@import 'variables';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fdcf00;
}

body {
  overflow-x: hidden;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  -webkit-tap-highlight-color: transparent;
}

// Parallax

.far-background {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  transform: scale(1.1,1.1);
}

.mid-plane{
  width: 100%;
}

// HEADER
.site-header{

  width: 100%;
  height: 100vh;
/* overflow: hidden;*/

  .site-header--wrapper{
    height: 100%;
    .site-header--inner{
      height: 100%;

      .site-bar{
        width: 100%;
      }
      .header-lead{
        text-align: center;
      }
    }
  }
}

.scroll-arrow {
  font-family: $sans-serif-font-family;
  transform: rotate(90deg) scale(1,2);
  color: $light-color;
  font-weight: lighter;
  font-size: $large-font-size-14;
}

// TEXT

.section-title {
  font-family: $sans-serif-font-family;
  font-weight: lighter;
  font-style: italic;
  font-size: $large-font-size-13;
  letter-spacing: 0.15em;
  position: relative;
  display: inline;

    &:after {
      content: "";
      display: block;
      border-bottom: 1px solid $dark-color;
      padding-top: 8px;
      left: 0;
      position: absolute;
      width: 100%;
    }
}

.section-title__light {
  color: $light-color;
  font-weight: 500;

    &:after {
      border-bottom: 1px solid $light-color;
    }
}

.section-title__dark {
  color: $dark-color;
}

.section-title__big {
  font-size: $very-huge-font-size-17;
  text-transform: uppercase;

      @media (min-width: $rwd-650){
        font-size: $very-huge-font-size-29;
      }
      @media (min-width: $rwd-1300){
        font-size: $very-huge-font-size-31;
      }
      @media (min-width: $rwd-1500){
        font-size: $very-huge-font-size-32;
      }
      @media (min-width: $rwd-1800){
        font-size: $very-huge-font-size-33;
      }
      &:after {
        margin-top: 10px;

      }
}

.text {
   color: $dark-color;
   font-family: $sans-serif-font-family;
   font-size: $very-small-font-size;
   font-weight: 500;
   letter-spacing: 0.2em;
   line-height: 1.7em;

  @media (min-width: $rwd-380){
    font-size: $small-font-size-00;
  }
}

.text__menu-item {
  font-size: $small-font-size-03;
  font-weight: 300;
}

.text__light {
  color: $light-color;
}

.text__small {
  font-size: $very-small-font-size;
  letter-spacing: normal;

  @media (min-width: $rwd-1100){
    font-size: $very-small-font-size-02;
  }
}

.text__description {
  font-size: $very-small-font-size;
  text-transform: none;
  font-style: italic;
  font-weight: bolder;
}

// WRAPPERS & CONTAINERS

.wrapper {
  display: table;
  height: 100%;
  width: 100%;

    div {
      display: table-cell;
      width: 100%;
      height: 100%;
      vertical-align: middle;
      text-align: center;
    }
}

.site-bar {
  width: 100%;

  .site-bar--wrapper{
    padding: 0 20px;
    .site-bar--inner{
      padding: 20px 0;
    }
  }
}

.site-bar-menu {

  .site-bar-menu--wrapper{

    .site-bar-menu--inner{

    }
  }
}

.header-lead {
  text-align: center;
  .header-lead--wrapper{
    padding: 140px 0;
    .header-lead--inner{
    }
  }
}

.flex {
  display: flex;
  height: 100%;
  width: 100%;
}

.flex__vertical {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex__horizontal {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.flex__rwd {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $rwd-900){
    flex-direction: row;
    justify-content: flex-start;
  }
}

.section-wrapper {
  padding: 60px 0;

  @media (min-width: $rwd-550){
    padding: 70px 0;
  }

  @media (min-width: $rwd-900){
    padding: 100px 0;
  }

  .section-inner {
    padding: 0 80px;

    @media (min-width: $rwd-500){
      padding: 0 100px;
    }
  }
}


.section-title--wrapper {

  .section-title--inner {
    text-align: center;
  }
}

.text-container {
  padding: 100px 0 100px 0;
  width: 100%;

  @media (min-width: $rwd-900){
    width: 50%;
    padding: 100px 100px 100px 0;
  }
  @media (min-width: $rwd-1300){
    width: 36%;
    padding: 100px 140px 100px 100px;;
  }
}


.gallery--wrapper{
    height: 100%;

  .gallery--inner{
/*    padding: 30px;
    border: 1px solid $dark-color;*/
   /* background: rgba($light-color, $opacity-70);*/
    width: 100%;
    height: 100%;
    margin-top: 25px;

    @media (min-width: $rwd-1100){
      margin-top: 0;
    }
  }
}

.work-info--wrapper {
/*  padding: 100px 0;*/


  .work-info--inner{
    width: 100%;
  }
}
.work-info-component--wrapper{
  padding: 10px 0;

  .work-info--description{
    text-align: left;
  }
}
//IMAGES

.site-logo {
  background-image: url("../images/pp-logo-white.png");
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: .5s ease-in-out;
  transition-delay: 0.1s;
}

.sticky-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1;
}

// MENUS

.horizontal-menu {
  display: none;

  @media (min-width: $rwd-900){
    display: block;
  }
  .horizontal-menu--item{
    display: inline-block;
    padding: 0 10px;
    position: relative;
    z-index: 0;
  }
}

.main-menu{
  width: 100%;
  position: fixed;
  top: -100%;
  background: rgba($dark-color, 0.8);
/*  box-shadow: 0 3px 125px 5px $medium-color;*/
  transition: .5s ease-in-out;

  @media (orientation: landscape) {
    top: -200%;
  }

  .main-menu--wrapper{
    padding: 100px 0;
  }

}

.main-menu__open {
  top: 0;
}

.main-menu__closed {
  top: -100%;

  @media (orientation: landscape) {
    top: -200%;
  }
}

.vertical-menu{

  .vertical-menu--item{
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    transition: .5s ease-in-out;
    transition-delay: .5s;
    opacity: 0;
    list-style: none;

    a{
      letter-spacing: 0.2em;
      transition: .3s ease-in-out;
      position: relative;

      &:after{
        content: '';
        display: block;
        position: absolute;
        left: 20px;
        right: 20px;
        top: 50%;
        border-left: 10px solid $medium-color;
        border-right: 10px solid $medium-color;
        transform: translateY(-50%);
        height: 3px;
        transition: all 0.35s ease;
        opacity: 0;
      }
      &:hover:after{
        left: -29px;
        right: -20px;
        border-left: 16px solid $medium-color;
        border-right: 16px solid $medium-color;
        opacity: 1;
      }

      &:hover{
        letter-spacing: 0.5em;
      }
    }
  }
}

.gallery-menu--wrapper{
  padding: 0 60px;

  @media (min-width: $rwd-380){
    padding: 0 70px;
  }
  @media (min-width: $rwd-480){
    padding: 0 100px;
  }

  .gallery-menu--inner{
    padding: 100px 0;
  }
}

.gallery-menu {
  transition: all 0.35s ease;
  width: 100%;

  .gallery-menu--item {
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    transition: .5s ease-in-out;
    transition-delay: .5s;
    opacity: 1;
    list-style: none;
    cursor: pointer;
    position: relative;

    p {
      letter-spacing: 0.2em;
      transition: .3s ease-in-out;
      position: relative;
      display: inline-block;

      &:after {
        content: '';
        display: block;
        background: $medium-color;
        width: 100%;
        height: 2px;
        transition: all 0.35s ease;
        transform: scaleX(0);
        opacity: 0;
      }
      &:hover:after {
        transform: scaleX(1);
        opacity: 1;
      }

      &:hover {
        letter-spacing: 0.5em;
      }
    }

  }
  .gallery-menu--item-title__active {
    p {
      letter-spacing: 0.5em;
      
      &:after {
        transform: scaleX(1);
        opacity: 1;

      }
    }
  }
}

.gallery-menu--item-close-button {
  position: relative;
  background: $light-color;
  color: $dark-color;
  border: 1px solid $dark-color;
  display: inline-block;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  transition: .3s ease-in-out;
  font-size: 15px;

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 1px;
    background: $dark-color;
    transition: .3s ease-in-out;
    transform-origin: left top;

  }
  div:first-child{
    transform: rotate(45deg) translate(-50%,-50%);
  }
  div:last-child{
    transform: rotate(-45deg) translate(-50%,-50%);
  }

}

.gallery-menu--item-close-button__hidden {
/*  display: none;*/
  opacity: 0;
  width: 0;
  height: 0;
  transform: scale(0);

  div {
    width: 0;
  }
}
.gallery-menu--item-close-button__visible {
/*  display: inline-block;*/
  opacity: 100%;
  width: 20px;
  height: 20px;
  transform: scale(1);

  div {
    width: 12px;
  }
}

.gallery-menu--item-close-button__visible:hover{
  transform: scale(1.125);
}

.gallery-menu__visible {
  opacity: 1;

}

.gallery-menu__hidden {
  opacity: 0;
/*  padding-right: 200px;*/
}

// CV-SECTION

.info-content--wrapper{
  padding: 150px 0;

  .info-content--inner{

    .flex__rwd {
        align-items: flex-start;
    }
  }
}



.info-text-container{
  width: 100%;

  @media (min-width: $rwd-1100){
    width: 30%;
    padding: 0 50px;
  }

  .info-text{
    font-size: $very-small-font-size-00;
    letter-spacing: 0.1em;
    height: 90vh;
    overflow: auto;

    span{
        text-decoration: underline;
        display: block;
        margin: 20px 0;
    }
  }

  .info-text::-webkit-scrollbar { width: 0 !important }

  .scroll-arrows-container {

    transform: rotate(90deg);
    margin-right: 9px;
    margin-top: 25px;

    .arrow{
      color: $dark-color;
      background: $light-color;
      height: 20px;
      width: 20px;
      border-radius: 20px;
      border: 1px solid $dark-color;
      text-align: center;
      margin: 10px;
      cursor: pointer;
      transition: .3s ease-in-out;

      &:hover{
        transform: scale(1.1);
      }


    }

    .arrow__clicked {
      animation: singlePulse 0.5s ease-in-out;


    }
  }
}


.info-gallery--wrapper{
  width: 100%;

  @media (min-width: $rwd-1100){
    width: 70%;
    padding: 0 50px;
  }

  .info-gallery--inner{


    .gallery--image {

      background-color: $light-color;
      width: 100%;
      height: 70vh;
      /*margin-top: 20px;*/
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      @media (min-width: $rwd-1100){
        height: 90vh;
        margin-top: 20px;
      }
    }
  }
}


// CONTACT SECTION

.contact-info--wrapper {
  padding: 100px 0;

  .contact-info--inner {
    padding: 0 100px;

    .contact-info{
      text-align: center;
      .text {
        margin: 20px;
      }
    }
  }
}

.social {

  .social-icon{
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 50px 5px 5px 5px;
  }
}

.facebook {
  background-image: url("../images/facebook.png");
}

.instagram {
  background-image: url("../images/instagram.png");
}

.linkedin {
  background-image: url("../images/linkedin.png");
}
// BUTTONS

.hamburger-toggler {

  position: fixed;
  top: 36px;
  right: 26px;
  z-index: 1;

  @media (min-width: $rwd-900) {
    display: none;
  }

  .hamburger-toggler--wrapper{
    width: 35px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    /*-webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;*/
    cursor: pointer;

    div{
      display: block;
      position: absolute;
      height: 3px;
      width: 50%;
/*      background: $light-color;*/
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;

      &:nth-child(even){
        left: 50%;
        border-radius: 0 9px 9px 0;
      }
      &:nth-child(odd){
        left: 0;
        border-radius: 9px 0 0 9px;
      }
      &:nth-child(1), &:nth-child(2){
        top: 0;

      }
      &:nth-child(3), &:nth-child(4){
        top: 8px;

      }
      &:nth-child(5), &:nth-child(6){
        top: 16px;
      }
    }
  }
  .open {

    div {

      &:nth-child(even){
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg) scale(1.5,1) ;
      }
      &:nth-child(odd){
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg) scale(1.5,1);
      }
      &:nth-child(1), &:nth-child(2), &:nth-child(5), &:nth-child(6){
        opacity: 0;
      }
    }
  }
}

// GALLERY
.work-section {
  position: relative;
}
.gallery {
/*  position: absolute;
  top: 170px;
  width: 92%;
  left: 50%;
  transform: translate(-50%, 0) scaleY(0);*/
/*  transition: 1s ease-in-out;
  transition-delay: .1s;*/
/*  opacity: 0;*/
  display: none;
  width: 100%;
/*  filter: blur(3px)*/ /*brightness(10%)*/;


  .gallery--image {
    background-color: $light-color;
    width: 100%;
    height: 70vh;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @media (min-width: $rwd-1100){
      height: 90vh;
    }
  }
}
.gallery__visible {
/*  opacity: 1;*/
/*  left: 50%;*/
  filter: blur(0px) /*brightness(100%)*/;
  display: block;
/*  transform: translate(-50%, 0) scaleY(1);*/
}

.gallery__hidden {
/*  opacity: 0;*/
/*  left: 150%;*/
  display: none;
}

.work-info {
  position: relative;
  opacity: 1;
  transition: .7s ease-in-out;
  transition-delay: .1s;
  z-index: 2;
  transform: translate(0);
  left: 0;



  @media (min-width: $rwd-1100){
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    left: -7%;
    width: 50%;
  }
  @media (min-width: $rwd-1300){
    width: 40%;
  }

  @media (min-width: $rwd-1500){
    width: 30%;
  }



  .work-info--title {
    background: $medium-color;
    color: $light-color;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 10px 18px rgba($dark-color, 0.5);
  }

  .work-info--description {
    background: $medium-color;
    color: $light-color;
    padding: 40px 20px;
    box-shadow: 0 10px 18px rgba($dark-color, 0.5);

    @media (min-width: $rwd-650){
      padding: 40px 50px;
    }

    .work-info--close-button {
      position: absolute;
      top: 20px;
      right: 10px;
      color: $light-color;
      border: 1px solid $light-color;
      border-radius: 10px;
      width: 20px;
      height: 20px;
      text-align: center;
      transition: .3s ease-in-out;
      font-size: 15px;

      div {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 1px;
        background: $light-color;
        transition: .3s ease-in-out;
        transform-origin: top left;

      }
      div:first-child{
        transform: rotate(45deg) translate(-50%,-50%);
      }
      div:last-child{
        transform: rotate(-45deg) translate(-50%,-50%);
      }
    }
    .work-info--close-button:hover {
      transform: scale(1.125);
    }

  }
}

.work-info__hidden {
  left: -100%;
  opacity: 0;


}

.work-info__visible {
  left: 0;
  opacity: 1;

  @media (min-width: $rwd-1100) {
    left: -7%;
  }
}


.work-info--show-button {
  position: absolute;
  background: $medium-color;
  color: $light-color;
  padding: 0 8px;
  box-shadow: 0 10px 18px rgba($dark-color, 0.5);
  transition: .3s ease-in-out;
  z-index: 2;
  margin-top: 10px;
  transform: translate(-50%,0);
  width: 30%;
/*  border-radius: 10px;*/

  &:hover {
    width: 35%;

    @media (min-width: $rwd-1100) {
      width: 23%;
    }
    @media (min-width: $rwd-1300) {
      width: 16%;
    }
  }
  @media (min-width: $rwd-380){
    padding: 0 10px;
  }
  @media (min-width: $rwd-1100){
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    left: -7%;
    width: 20%;
    padding: 10px 10px;
    margin-top: 0;
    border-radius: 0;
  }
  @media (min-width: $rwd-1300){
    width: 15%;
  }
}

.work-info--show-button__hidden {
  left: -100%;
  opacity: 0;
}

.work-info--show-button__visible {
  left: 50%;
  opacity: 1;

  @media (min-width: $rwd-1100) {
    left: -7%;
  }
}


// GALLERY IMAGES

.pollution1 {
  background-image: url("../images/pollution1.jpg");
}

.pollution2 {
  background-image: url("../images/pollution2.jpg");
}

.pollution3 {
  background-image: url("../images/pollution3.jpg");
}

.inBloom1Detail {
  background-image: url("../images/InBloom1Detail.jpg");
  background-size: cover !important;
}

.pollution1Detail {
  background-image: url("../images/pollution1Detail.jpg");
  background-size: cover !important;
  background-position: left !important;
}

.inBloom1 {
  background-image: url("../images/InBloom1.jpg");
}

.inBloom2 {
  background-image: url("../images/InBloom2.jpg");
}

.inBloom3 {
  background-image: url("../images/InBloom3.jpg");
}

.pillar1 {
   background-image: url("../images/Pillar1.jpg");
 }

.pillar2 {
  background-image: url("../images/Pillar2.jpg");
}

.pillar3 {
  background-image: url("../images/Pillar3.jpg");
}

.pillar4 {
  background-image: url("../images/Pillar4.jpg");
}

.pillar1Detail {
  background-image: url("../images/Pillar1Detail.jpg");
  background-size: cover !important;
}

.kain-and-abel1 {
  background-image: url("../images/kainabel1.jpg");
}

.kain-and-abel2 {
  background-image: url("../images/kainabel2.jpg");
}

.kain-and-abel3 {
  background-image: url("../images/kainabel3.jpg");
}

.kain-and-abel4 {
  background-image: url("../images/kainabel4ale2.jpg");
}

.kain-and-abel5 {
  background-image: url("../images/kainabel5.jpg");
}

.kain-and-abel6 {
  background-image: url("../images/kainabel6.jpg");
}

.kain-and-abel7 {
  background-image: url("../images/kainabel7.jpg");
}

.kain-and-abel8 {
  background-image: url("../images/kainabel8.jpg");
}

.kain-and-abel9 {
  background-image: url("../images/kainabel9.jpg");
}

.diver1 {
  background-image: url("../images/diver1.jpg");
}

.diver2 {
  background-image: url("../images/diver2.jpg");
}

.diver3 {
  background-image: url("../images/diver3.jpg");
}

.bewilderingOneDetail {
  background-image: url("../images/bewilderingOneDetail.jpg");
  background-size: cover !important;
}

.bewilderingOne {
  background-image: url("../images/bewilderingOne.jpg");
}

.glaringOneAndBellowingOne {
  background-image: url("../images/glaringngOneAndBellowingOne.jpg");
}

.raveningOneAndAbolishingOneAndDenoucingOne {
  background-image: url("../images/raveningOneAndabolishingOneAndDenoucingOne.jpg");
}

.diminishingOneDetail {
  background-image: url("../images/diminishingOneDetail.jpg");
  background-size: cover !important;
}

.diminishingOne {
  background-image: url("../images/diminishingOne.jpg");
}

.ascendingOneAndAwakeningOne {
  background-image: url("../images/ascendingOneAndAwakeningOne.jpg");
}

.dreamingOneAndEnlighteningOneAndSuffocatingOne {
  background-image: url("../images/dreamingOneAndEnglighteningOneAndSuffocatingOne.jpg");
}

.selfglitchedintro{
  background-image: url("../images/selfglitchedintro.jpg");
}

.selfglitched1 {
  background-image: url("../images/selfglitched1.jpg");
}

.selfglitched2and3 {
  background-image: url("../images/selfglitched2and3.jpg");
}

.selfglitched4and5and6 {
  background-image: url("../images/selfglitched4and5and6.jpg");
}

.selfglitched7 {
  background-image: url("../images/selfglitched7.jpg");
}

.selfglitched8and9 {
  background-image: url("../images/selfglitched8and9.jpg");
}

.selfglitched10and11and12 {
  background-image: url("../images/selfglitched10and11and12.jpg");
}

.selfglitched14and15 {
  background-image: url("../images/selfglitched14and15.jpg");
}

.selfglitched16and17 {
  background-image: url("../images/selfglitched16and17.jpg");
}

.selfglitched18 {
  background-image: url("../images/selfglitched18.jpg");
}

.selfglitched19and20 {
  background-image: url("../images/selfglitched19and20.jpg");
}

.selfglitched21 {
  background-image: url("../images/selfglitched21.jpg");
}

.selfglitched22 {
  background-image: url("../images/selfglitched22.jpg");
}

.selfglitched23 {
  background-image: url("../images/selfglitched23.jpg");
}

.selfglitchedset {
  background-image: url("../images/selfglitchedset.jpg");
}

.thousandYards {
  background-image: url("../images/1000yards.jpg");
}

.thousandYards1 {
  background-image: url("../images/1000yards1st-step.jpg");
}

.thousandYards2 {
  background-image: url("../images/1000yards2nd-step.jpg");
}

.firstState {
  background-image: url("../images/1st-state.jpg");
}

.secondState {
  background-image: url("../images/2nd-state.jpg");
}

.thirdState {
  background-image: url("../images/3rd-state.jpg");
}

.firstSecondAndThirdState {
  background-image: url("../images/3states.jpg");
}

.fourthState {
  background-image: url("../images/4th-state.jpg");
}

.fifthState {
  background-image: url("../images/5th-state.jpg");
}

.fifthStateDetail {
  background-image: url("../images/5th-stateDetail.jpg");
  background-size: cover !important;
}

.sixthState {
  background-image: url("../images/6th-state.jpg");
}

.seventhState {
  background-image: url("../images/7th-state.jpg");
}

.eighthAndNinthState {
  background-image: url("../images/8th&9th-state.jpg");
}

.eighthState {
  background-image: url("../images/8th-state.jpg");
}

.ninthState {
  background-image: url("../images/9th-state.jpg");
}

.ripplesDetail1 {
  background-image: url("../images/ripplesDetail1.jpg");
  background-size: cover !important;
}

.ripplesDetail2 {
  background-image: url("../images/ripplesDetail2.jpg");
  background-size: cover !important;
}

.ripples1 {
  background-image: url("../images/ripples.jpg");
}

.ripples2Detail1 {
  background-image: url("../images/ripples2Detail1.jpg");
  background-size: cover !important;
}

.ripples2Detail2 {
  background-image: url("../images/ripples2Detail2.jpg");
  background-size: cover !important;
}

.ripples2 {
  background-image: url("../images/ripples2.jpg");
}

.inBetweenDetail1 {
  background-image: url("../images/inBetweenDetail1.jpg");
  background-size: cover !important;
}

.inBetweenDetail2 {
  background-image: url("../images/inBetweenDetail2.jpg");
  background-size: cover !important;
}

.inBetween {
  background-image: url("../images/inBetween.jpg");
}

.floatingAndDrowning {
  background-image: url("../images/floaringdrowning.jpg");
}

.floatingAndDrowningDetail1 {
  background-image: url("../images/floaringdrowningdetail.jpg");
  background-size: cover !important;
}

.floatingAndDrowningDetail2 {
  background-image: url("../images/floaringdrowningdetail2.jpg");
  background-size: cover !important;
}

.mirror1 {
  background-image: url("../images/mirror1.jpg");
}

.mirror2 {
  background-image: url("../images/mirror2.jpg");
}

.mirror3 {
  background-image: url("../images/mirror3.jpg");
}

.mirror4 {
  background-image: url("../images/mirror4.jpg");
}

.mirror5 {
  background-image: url("../images/mirror5.jpg");
}

.mirror6 {
  background-image: url("../images/mirror6.jpg");
}

.mirror7 {
  background-image: url("../images/mirror7.jpg");
}

.liberec1 {
  background-image: url("../images/exhibitions/liberec3.jpg");
}

.liberec2 {
  background-image: url("../images/exhibitions/liberec2.jpg");
}

.liberec3 {
  background-image: url("../images/exhibitions/liberec1.jpg");
}

.staryBrowar1 {
  background-image: url("../images/exhibitions/staryBrowar_poznan1.jpg");
}

.staryBrowar2 {
  background-image: url("../images/exhibitions/staryBrowar_poznan2.jpg");
}

.wilno {
  background-image: url("../images/exhibitions/wilno.jpg");
}

.pollutionASP1 {
   background-image: url("../images/exhibitions/pollution_aulaASP1.jpg");
}

.pollutionASP2 {
  background-image: url("../images/exhibitions/pollution_aulaASP2.jpg");
}

.sollentuna1 {
  background-image: url("../images/exhibitions/sollentuna2.jpg");
}

.sollentuna2 {
  background-image: url("../images/exhibitions/sollentuna1.jpg");
}

.isfahan {
  background-image: url("../images/exhibitions/isfahan.jpg");
}

.corazciasniej1 {
  background-image: url("../images/exhibitions/corazciasniej.jpg");
}

.corazciasniej2 {
  background-image: url("../images/exhibitions/corazciasniej2.jpg");
}

.scg1 {
  background-image: url("../images/exhibitions/SCG_international_printmaking_conference1.jpg");
}

.scg2 {
  background-image: url("../images/exhibitions/SCG_international_printmaking_conference2.jpg");
}

.redefinitionOfMatrix1 {
   background-image: url("../images/exhibitions/redefinition_of_matrix1.jpg");
 }

.redefinitionOfMatrix2 {
  background-image: url("../images/exhibitions/redefinition_of_matrix2.jpg");
}

.mtg2015 {
  background-image: url("../images/exhibitions/mtg2015.jpg");
}

.mtg2015b {
  background-image: url("../images/exhibitions/mtg2015b.jpg");
}

.impact9 {
  background-image: url("../images/exhibitions/impact9.jpg");
}

.cuttingEdgePrintmaking1 {
  background-image: url("../images/exhibitions/Cutting-Egde Printmaking1.jpg");
}

.cuttingEdgePrintmaking2 {
  background-image: url("../images/exhibitions/Cutting-Egde Printmaking2.jpg");
}

// PARALLAX OBJECTS

.shape-container {
  width: 100%;
  position: relative;
}

.farest-plane {
  width: 100%;

  .big-shape-2 {
    background-image: url("../images/shapeBig2.png");
    width: 62%;
    height: 21vh;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 26vh;
    left: 28%;
    filter: blur(5px);
    transform: rotate(-10deg);

    @media (min-width: $rwd-900) {
      width: 35%;
      height: 38vh;
      left: 45%;
    }
  }
}

.far-mid-plane {
  width: 100%;

  .big-shape-1 {
    background-image: url("../images/shapeBig1.png");
    width: 69%;
    height: 27vh;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 134vh;
    left: -43%;
    filter: blur(5px);
    transform: rotate(-20deg);

    @media (min-width: $rwd-650) {
      left: -31%;
    }
    @media (min-width: $rwd-900) {
      left: -22%;
    }
    @media (min-width: $rwd-1100) {
      left: -18%;
    }
  }
}

.middle-close-plane{
  width: 100%;

  .big-shape-2 {
    background-image: url(../images/shapeBig2.png);
    width: 29%;
    height: 23vh;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 230vh;
    left: 54%;
    transform: rotate(320deg);
    filter: blur(1px);
    display: none;

    @media (min-width: $rwd-900) {
      display: block;
    }

    @media (min-width: $rwd-1100) {
      left: 64%;
    }
    @media (min-width: $rwd-1300) {
      top: 200vh;
    }
    @media (min-width: $rwd-1500) {
      top: 185vh;
    }
    @media (min-width: $rwd-1700) {
      top: 175vh;
    }
  }
  .small-shape-4{
    background-image: url("../images/shapeSmall4.png");
    width: 27%;
    height: 34vh;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 39vh;
    left: 19%;
    filter: blur(2px);
    transform: rotate(-40deg);

    @media (min-width: $rwd-900) {
      width: 20%;
      top: 53vh;
    }
  }

  .big-shape-1 {
    background-image: url("../images/shapeBig1.png");
    width: 52%;
    height: 27vh;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 202vh;
    left: 57%;
    /* filter: blur(5px); */
    transform: rotate(150deg);
    display: none;

    @media (min-width: $rwd-650) {
      left: 57%;
    }
    @media (min-width: $rwd-900) {
      display: block;
      top: 179vh;
    }
    @media (min-width: $rwd-1300) {
      top: 140vh;
      width: 44%;
      height: 38vh;
    }
  }
}

.closest-plane {
  width: 100%;

  .small-shape-1{
    background-image: url(../images/shapeSmall1.png);
    width: 29%;
    height: 22vh;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 62vh;
    left: 66%;
    transform: rotate(20deg);
    /*filter: blur(0.5px);*/

    @media (min-width: $rwd-900) {
      width: 29%;
      height: 22vh;
      top: 62vh;
      left: 66%;
    }
  }
  .small-shape-1b{
    background-image: url(../images/shapeSmall1.png);
    width: 40%;
    height: 15vh;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 216vh;
    left: 57%;
    filter: blur(5px);
    transform: rotate(150deg);

    @media (min-width: $rwd-900) {
      top: 193vh;
    }
    @media (min-width: $rwd-1300) {
      top: 166vh;
      width: 46%;
      height: 23vh;
      left: 51%;
    }
  }
}

.mid-plane {
  width: 100%;

  .small-shape-2 {
    background-image: url(../images/shapeSmall2.png);
    width: 30%;
    height: 21vh;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -11vh;
    left: 2%;
    transform: rotate(180deg);

    @media (min-width: $rwd-900) {
      width: 22%;
    }
  }
  .small-shape-4 {
    background-image: url(../images/shapeSmall4.png);
    width: 30%;
    height: 22vh;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 124vh;
    left: 49%;
    transform: rotate(-20deg);
    display: none;

    @media (min-width: $rwd-900) {
      display: block;
    }
    @media (min-width: $rwd-1100) {
      left: 65%;
    }
    @media (min-width: $rwd-1300) {
      top: 100vh;
    }
    @media (min-width: $rwd-1500) {
      top: 85vh;
    }
    @media (min-width: $rwd-1700) {
      top: 75vh;
    }
  }
}

// ANIMATIONS


.horizontal-menu--item {

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 400%;
    background: #FF003D;
    position: absolute;
    top: -140px;
    left: 0;
    /* margin: 0 0 0 -3px; */
    opacity: 0;
    /* border-radius: 50%; */
    z-index: -1;
    transition: all 0.3s ease-out;
    background: $medium-color ; /* Old browsers */
    background: -moz-linear-gradient(top, $medium-color-02 1%, $medium-color-01 20%, $medium-color 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $medium-color-02 1%,$medium-color-01 20%,$medium-color 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $medium-color-02 1%,$medium-color-01 20%,$medium-color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$medium-color', endColorstr='$medium-color-02',GradientType=0 );
  }

  &:hover:after {
    top: -50px;
    opacity: 1;
  }
}

.site-logo {
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: $medium-color ;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: 50%;
    z-index: -1;
    transition: all 0.3s ease-out;
    transform: scale(0.9,0.9);
  }
  &:hover:after {
    opacity: 1;
  }
}

.scroll-arrow {
  cursor: pointer;

  &:hover {
    animation-duration: 0.3s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }

}

@keyframes changewidth {
  0% {  transform: rotate(90deg) scale(1,2) translate(10px,0); }
  100% {  transform: rotate(90deg) scale(1,2) translate(0,0); }
}

@keyframes singlePulse {
  0% {transform: scale(1.1)}
  50% {transform: scale(1.2)}
  100% {transform: scale(1.1)}
}

// MODIFIERS

.light-color-background {
  background: $light-color;
}

.dark-color-background {
  background: $dark-color;
}

.medium-color-background {
  background: $medium-color;
}

.test1 {
  background-image: url("../images/Paweł Puzio_In Bloom_2.jpg");
  margin: 15px;
  width: 100%;
  height: 90vh;
  background-size: contain;
  background-repeat: no-repeat;
}



// owl carousel modifications

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: $medium-color;
  outline: none;

}

.owl-theme .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
}

