h3 {
  color:red;
}


.note__bar {
  padding: 0 0 40px 0;

  .line-title{
    text-align: center;
    font-family: "Arial Black", sans-serif;
    text-transform: uppercase;

    @media (min-width: 720px) {
      text-align: left;
    }
    .line-title__inner {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      padding: 0 15px;
    }
    .line-title__inner:before {
      content: '';
      display: block;
      width: 2000px;
      height: 2px;
      background: red;
      position: absolute;
      top: 50%;
      left: 100%;
    }
  }
}